h1 {
  color: #3a241d;
  text-align: center;
}
  body {
    font-family: helvetica, arial, sans-serif;
   }
   #contenedor-izquierdo {
    background-color: #eee;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    padding: 10px;
  }
  #contenedor-derecho {
    background-color: #eee;
    width: 15%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: absolute;
    padding: 10px;
  }  

 /* .contenedor-componente {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 6px;
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 2 / 2 / 3; }
    .div4 { grid-area: 1 / 2 / 2 / 3; }
*/

  .contenedor-componente {
    position: relative;
    height: 10.5%;
    left: 20%;
  }
  
  .componente {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
  }
  /*.cielo {
    height: 80%;
    width: 60%;
    background: #BDE6F1;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
  }
  
  .suelo {
    width: 60%;
    height: 45%;
    background: #C9E4C5;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
  }*/
    .cielo {
    display: grid;
    background: #BDE6F1;
    width: 60%;
    height: 45%;
    position: absolute;
    left: 20%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 500px;
    }
    
    .suelo {
      display: grid;
      background: #C9E4C5;
      position: absolute;
      left: 20%;
      width: 60%;
      height: 45%;
      top: 346px;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 100px;
      grid-row-gap: 500px;
      }

   /* .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 2 / 2 / 3; }
    .div4 { grid-area: 1 / 2 / 2 / 3; }*/
